#btnpg2 { 
width:52%;position:absolute;top:72%;left:69%;transform:translate(-50%, -50%);-ms-transform:translate(-50%,-50%);color:white;font-size:16px;border:none;cursor:pointer;text-align:center;background-color: #ff000000;
}

#btnpg5 { 
width:30%;position:absolute;top:90%;left:50%;transform:translate(-50%, -50%);-ms-transform:translate(-50%,-50%);color:white;font-size:16px;border:none;cursor:pointer;text-align:center;background-color: #ff000000;
}

#btnpg6 { 
width:30%;position:absolute;top:93%;left:80%;transform:translate(-50%, -50%);-ms-transform:translate(-50%,-50%);color:white;font-size:16px;border:none;cursor:pointer;text-align:center;background-color: #ff000000;
}

#btnpg7 { 
width:30%;position:absolute;top:91%;left:50%;transform:translate(-50%, -50%);-ms-transform:translate(-50%,-50%);color:white;font-size:16px;border:none;cursor:pointer;text-align:center;background-color: #ff000000;
}
#btnpg10 { 
width:30%;position:absolute;top:23%;left:80%;transform:translate(-50%, -50%);-ms-transform:translate(-50%,-50%);color:white;font-size:16px;border:none;cursor:pointer;text-align:center;background-color: #ff000000;
}

#btnpg11 { 
width:30%;position:absolute;top:80%;left:81%;transform:translate(-50%, -50%);-ms-transform:translate(-50%,-50%);color:white;font-size:16px;border:none;cursor:pointer;text-align:center;background-color: #ff000000;
}
#btnpg12{ 
width:30%;position:absolute;top:5%;left:78%;transform:translate(-50%, -50%);-ms-transform:translate(-50%,-50%);color:white;font-size:16px;border:none;cursor:pointer;text-align:center;background-color: #ff000000;
}

#btnpg13 { 
width:30%;position:absolute;top:90%;left:80%;transform:translate(-50%, -50%);-ms-transform:translate(-50%,-50%);color:white;font-size:16px;border:none;cursor:pointer;text-align:center;background-color: #ff000000;
}
#btnpg14 { 
width:30%;position:absolute;top:57%;left:20%;transform:translate(-50%, -50%);-ms-transform:translate(-50%,-50%);color:white;font-size:16px;border:none;cursor:pointer;text-align:center;background-color: #ff000000;
}
#btnpg17 { 
width:37%;position:absolute;top:33%;left:75%;transform:translate(-50%, -50%);-ms-transform:translate(-50%,-50%);color:white;font-size:16px;border:none;cursor:pointer;text-align:center;background-color: #ff000000;
}
#btnpg18 { 
width:30%;position:absolute;top:92.5%;left:81%;transform:translate(-50%, -50%);-ms-transform:translate(-50%,-50%);color:white;font-size:16px;border:none;cursor:pointer;text-align:center;background-color: #ff000000;
}
#btnpg19 { 
width:37%;position:absolute;top:33.5%;left:25%;transform:translate(-50%, -50%);-ms-transform:translate(-50%,-50%);color:white;font-size:16px;border:none;cursor:pointer;text-align:center;background-color: #ff000000;
}
#btnpg20 { 
width:37%;position:absolute;top:80.5%;left:78%;transform:translate(-50%, -50%);-ms-transform:translate(-50%,-50%);color:white;font-size:16px;border:none;cursor:pointer;text-align:center;background-color: #ff000000;
}
#btnpg21 { 
width:37%;position:absolute;top:61.5%;left:50%;transform:translate(-50%, -50%);-ms-transform:translate(-50%,-50%);color:white;font-size:16px;border:none;cursor:pointer;text-align:center;background-color: #ff000000;
}
#btnpg22 { 
width:37%;position:absolute;top:61.5%;left:50%;transform:translate(-50%, -50%);-ms-transform:translate(-50%,-50%);color:white;font-size:16px;border:none;cursor:pointer;text-align:center;background-color: #ff000000;
}
